
<!DOCTYPE html>  <html lang="en">
    <head>      <title>Services : Handpickedoha</title>
      
  <link class="app-stylesheet" href="/assets/front.css" media="screen" rel="stylesheet">

      
      <script src="/assets/front.js"></script>
<script type="text/javascript"></script><meta content="width=device-width, initial-scale=1.0" name="viewport">      <meta content="authenticity_token" name="csrf-param">
<meta content="5b/LjIXqlfk/taXFZZedlDOXU9o+Of6gRZ1ysaGO8mo=" name="csrf-token">
</head>
<body>
	<div id="ajax-progress-wrapper">
		<div class="ajax-progress" id="ajax-progress">
			<div>
	      <span id="ajax-progress-text"></span>
			</div>
		</div>
	</div>
	<div class="navbar">
		<div class="navbar-inner navbar-innner">
		  <div class="header container">
		  	<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" href="#">
		  	  <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
				</a>
				<div class="app-name">
				  <a class="brand" href="/">Handpickedoha</a>
				</div>
				<ul class="navigation main-nav nav">
				  <li class="">
				    <a href="/">Home</a>
					</li>
    			<li class="">
    			  <a class="class-link" href="/categories" rel="nofollow">Categories</a>
					</li>
    			<li class="">
    			  <a class="class-link" href="/providers" rel="nofollow">Providers</a>
					</li>
  				<li class="active">
  				  <a class="class-link" href="/services" rel="nofollow">Services</a>
					</li>
    			<li><a href="/users/my_favorites">My Favorites</a></li>
				</ul>
				<div class="nav-collapse collapse">
					<ul class="navigation account-nav nav pull-right">
					  <li class="search">
					  	<div class="search" data-rapid="{&quot;live-search&quot;: {}}">
					  	  <form action="/search" class="form-search" data-rapid="{&quot;form&quot;:{&quot;ajax_attrs&quot;:{&quot;refocus-form&quot;:true,&quot;update&quot;:&quot;search-results-part&quot;,&quot;message&quot;:&quot;Querying...&quot;}}}" method="post" remove-class="form-horizontal">
					  	  	<div class="hidden-fields">
					  	  		<input id="page_path" name="page_path" type="hidden" value="/services">
					  	  		<input name="authenticity_token" type="hidden" value="5b/LjIXqlfk/taXFZZedlDOXU9o+Of6gRZ1ysaGO8mo=">
				  	  		</div>
				  	  		<input name="search_version" type="hidden" value="2">
				  	  		<input class="live-search search-query" name="query" placeholder="Search" type="search">
      						<i class="icon-search"></i>
      					</form>
      		    	<div class="part-wrapper" id="search-results-part">
    						</div>
							</div>
						</li>
      			<li class="dev-user-changer">
      				<select class="dev-user-changer" onchange="location.href = '/dev/set_current_user?login=' + encodeURIComponent(this.options[this.selectedIndex].value)">
      					<option value="">Guest</option>
      					<%User.all.each do |user|%>
    							<option <%= current_user ? 'selected="selected"' : ""%> value="<%=current_user.email_address%>"><%=current_user.email_address%></option>
    						<%end%>
							</select>
						</li>
						<% if current_user%>
	        		<li class="nav-item logged-in-as">
	        			<a class="user-link" href="/users/<%=current_user.id%>-<%=current_user.name%>" rel="nofollow">Logged in as <span class="view user-name "><%= current_user ? current_user.name : ""%></span></a>
	        		</li>        		
	        		<li class="nav-item account"><a class="user-link" href="/users/<%=current_user.id%>-<%=current_user.name%>/account" rel="nofollow">Account</a></li>
	        		<li class="nav-item log-out"><a href="/logout">Log out</a></li>
						<%end%>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container bootstrap-content">
		<div class="row main-row">
			<div class="span12 main-column">
				<div class="section with-flash content">
				  <div class="section main-content">
				    <div class="header content-header well">
							<a class="btn pull-right btn-primary new-link new-service-link" href="/services/new" rel="nofollow">        New Service
							</a>
							<h2 class="heading">Service Index</h2>
						</div>
					<div class="section content-body"> 
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
